<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库配置文件-->
    <add key="SERVER" value="." />
    <add key="DATABASE" value="CHMS" />
    <add key="UID" value="sa" />
    <add key="PWD" value="654123" />
    <!--串口配置文件-->
    <add key="com" value="2" />
    <add key="boud" value="9600" />
	
	<add key="Task" value="2000/1/1 00:00:00" />
	
  </appSettings>
</configuration>