<?xml version="1.0" encoding="utf-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) -->
<Menus>
  <MenuItem>
    <ItemID>101</ItemID>
    <Text>设备信息管理</Text>
    <FormName></FormName>
    <ParentItemID>0</ParentItemID>
    <IsModule>1</IsModule>
  </MenuItem>
 <MenuItem>
    <ItemID>10101</ItemID>
    <Text>设备参数设置</Text>
    <FormName>CHMS.frmMachines</FormName>
    <ParentItemID>101</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10102</ItemID>
    <Text>下载考勤记录</Text>
    <FormName>CHMS.frmAttLog</FormName>
    <ParentItemID>101</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10103</ItemID>
    <Text>下载人事信息</Text>
    <FormName>CHMS.frmDownloadUser</FormName>
    <ParentItemID>101</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
 <MenuItem>
    <ItemID>10103</ItemID>
    <Text>上传人事信息</Text>
    <FormName>CHMS.frmUpload</FormName>
    <ParentItemID>101</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <!-- -->
  <MenuItem>
    <ItemID>102</ItemID>
    <Text>基础信息管理</Text>
    <FormName></FormName>
    <ParentItemID>0</ParentItemID>
    <IsModule>1</IsModule>
  </MenuItem> 
  <MenuItem>
    <ItemID>10201</ItemID>
    <Text>公司信息设置</Text>
    <FormName>CHMS.frmCompany</FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10202</ItemID>
    <Text>部门信息设置</Text>
    <FormName>CHMS.frmDeartments</FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <!--<MenuItem>
    <ItemID>10203</ItemID>
    <Text>权限组别设置</Text>
    <FormName>CHMS.frmRole</FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>-->
  <MenuItem>
    <ItemID>10201</ItemID>
    <Text>人员信息设置</Text>
    <FormName>CHMS.frmUserinfo</FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <!--<MenuItem>
    <ItemID>10201</ItemID>
    <Text>人员权限分配</Text>
    <FormName></FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>-->
  <MenuItem>
    <ItemID>10201</ItemID>
    <Text>人事档案查询</Text>
    <FormName>CHMS.frmRptUserInfo</FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10201</ItemID>
    <Text>生成人事通信录</Text>
    <FormName>CHMS.frmRptAddresslist</FormName>
    <ParentItemID>102</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem> 
  <!-- -->
  <MenuItem>
    <ItemID>103</ItemID>
    <Text>人员考勤管理</Text>
    <FormName></FormName>
    <ParentItemID>0</ParentItemID>
    <IsModule>1</IsModule>
  </MenuItem>
 <MenuItem>
    <ItemID>10301</ItemID>
    <Text>时段信息设置</Text>
    <FormName>CHMS.frmSchclass</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>班次信息设置</Text>
    <FormName>CHMS.frmRun</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>人员日历排班</Text>
    <FormName>CHMS.frmRunUser</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem> 
 <MenuItem>
    <ItemID>10301</ItemID>
    <Text>排班信息浏览</Text>
    <FormName>CHMS.frmRunUserLog</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>假期类别设置</Text>
    <FormName>CHMS.frmLeaveClass</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>录入法定假日</Text>
    <FormName>CHMS.frmHolidays</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem> 
   <MenuItem>
    <ItemID>10301</ItemID>
    <Text>原始考勤查询</Text>
    <FormName>CHMS.frmRptRecordLog</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>考勤异常登记</Text>
    <FormName>CHMS.frmAttExceptionLog</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>人员请假登记</Text>
    <FormName>CHMS.frmAttendanceSpeday</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>人员请假统计</Text>
    <FormName>CHMS.frmRptSpeday</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>考勤日报统计</Text>
    <FormName>CHMS.frmRptDayLog</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <MenuItem>
    <ItemID>10301</ItemID>
    <Text>考勤月报统计</Text>
    <FormName>CHMS.frmRptMonthLog</FormName>
    <ParentItemID>103</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
  <!-- -->
  <MenuItem>
    <ItemID>104</ItemID>
    <Text>常用工具管理</Text>
    <FormName></FormName>
    <ParentItemID>0</ParentItemID>
    <IsModule>1</IsModule>
  </MenuItem>
   <MenuItem>
    <ItemID>10401</ItemID>
    <Text>计算器</Text>
    <FormName>Calc</FormName>
    <ParentItemID>104</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
 <MenuItem>
    <ItemID>10402</ItemID>
    <Text>记事本</Text>
    <FormName>Notepad</FormName>
    <ParentItemID>104</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
 <MenuItem>
    <ItemID>10403</ItemID>
    <Text>画图</Text>
    <FormName>MsPaint</FormName>
    <ParentItemID>104</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>
 <!-- --> 
 <MenuItem>
    <ItemID>105</ItemID>
    <Text>退出系统</Text>
    <FormName>Exit</FormName>
    <ParentItemID>0</ParentItemID>
    <IsModule>0</IsModule>
  </MenuItem>   
</Menus>
